.author-area{
    .unang-page-title-area {
        border-radius: 10px;
    }
    .post_contain {
        display: flex;
        flex-wrap: wrap;
    }
    .blog_post {
        border: 0;
        padding: 0 5px;
    }
    .img_thumbnail {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 200px;
    }
    .card-body {}
}
.icon_header {
    width: 30px;
    height: 30px;
    margin-right: 7px;
    border-radius: 5px;
}
